# ------------- Program locations --------------------------------------
export ID=/usr/bin/id;
export ECHO=/bin/echo;
export MOUNT=/bin/mount;
export RM=/bin/rm;
export MV=/bin/mv;
export CP=/bin/cp;
export KILLALL=/usr/bin/killall;
export DATE=/bin/date;
export TOUCH=/bin/touch;
export RSYNC=/usr/bin/rsync;
export SLEEP=/bin/sleep;
export SUSPEND=/usr/sbin/pm-suspend;
export TAIL=/usr/bin/tail;
export SED=/bin/sed;
# ------------- Used for adding timestamp to backups -------------------
export DATESTAMP=$($DATE +%Y%m%d%H%M)

# ------------- File Locations -----------------------------------------
export MOUNT_DEVICE=nas1:/nfs/linuxbackup; #SMB/NFS/CIFS/etc share name
export SNAPSHOT_RW=/nas/linuxbackup; #directory to mount device listed aboce
export LOGFILE=rsync.log.$($DATE +%Y%m%d%H%M%S); #will be added to the backup to list added/deleted/changed files
export DIAGNOSTICLOG=/home/scott/backupdiag.log; #for showing start/stop times of backups, backup size, etc
export EXCLUDES=/opt/scripts/backup/backup_exclude; #list of files/folders to EXCLUDE from backup
export INCLUDES=/opt/scripts/backup/backup_include; #list of files/folders to INCLUDE in backup
